/* Reikia pirma perdaryti responciva */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.middle {
    vertical-align: bottom; 
    color: rgb(224, 226, 245);
    padding: 20%;
}
.filter{
    width: 100%;
    background-color: blue;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .mapsas { grid-area: 1 / 1 / 2 / 5; }
    .filter { grid-area: 1 / 5 / 2 / 6; }

.filter-wrapper{
    background-color: brown;
    padding: 20px;
}
body {
    background-image: url('images/ginuciu_vandens_malunas.jpg');
    width: auto;
  }